<tittle><h1><MARQUEE>CURRICULUM VITAE</MARQUEE></h1></tittle>
<p>
<img src="images/image.jpg" alt="image" width="200" height="80" />
</p>
<h2> ABDOU AZIZ NDIAYE</h2>
<h3>15/10/2001 Dahra Djoloff</h3>
<h4>ndiayeziza1999@gmail.com</h4>
<style type="utf=8"></style>
p
{
	color: bleu;
}
<h4> Formation</h4>
<li> 6émé à 3émé lycée ex cem1 de dahra</li>
<li> 2nd à 1ére lycée de saguatta djoloff</li>
<h4> Expériences</h4>
<li> 2018-2020 maintenace informatique</li>
<li> cyber</li>
<h4> Competences</h4>
<li> Bureautique</li>
